{% extends "base.html" %} 
{% block title %} {{ user_profile.get_full_name}} @{{ user_profile.username}}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2"></div>
                        <div class="h3 text-muted">{{ user_profile.get_full_name}} @{{user_profile.username }}</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                            Подписчиков: {{ follower_count }}<br />
                            Подписан: {{ following_count }}
                            </div>
                        </li>
                        <li class="list-group-item">
                        <div class="h6 text-muted">Записей: {{ post_count }}   </div>
                        </li>
                        <li class="list-group-item">
                        {% if request.user != user_profile %}
                            {% if following %}
                            <a class="btn btn-lg btn-light" 
                                    href="{% url 'profile_unfollow' user_profile.username %}" role="button"> 
                                    Отписаться 
                            </a> 
                            {% else %}
                            <a class="btn btn-lg btn-primary" 
                                    href="{% url 'profile_follow' user_profile.username %}" role="button">
                            Подписаться 
                            </a>
                            {% endif %}
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
            
            {% for post in page %}
           
                {% include "post_item.html" with post=post %}
            {% endfor %}    
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
            </div>
        </div>
    </main>
{%endblock%}